
.jumbotron
  %h1.display-2.animated.fadeInDown.text-center Nathan Meira
  %hr.animated.fadeInRight/
  %p.lead.text-center.mx-auto.animated.fadeInUp
    Simplicity is the ultimate sophistication
  .footer-social-icons.animated.fadeInUp
    %ul.social-icons
      %li
        %a.social-icon{:href => "https://www.facebook.com/meira.nathan"}
          %i.fa.fa-facebook
      %li
        %a.social-icon{:href => "https://www.linkedin.com/in/nathan-m/"}
          %i.fa.fa-linkedin
      %li
        %a.social-icon{:href => "https://dribbble.com/nathanmeira"}
          %i.fa.fa-dribbble
      %li
        %a.social-icon{:href => "https://www.flickr.com/photos/nathanmeira/#_=_"}
          %i.fa.fa-flickr
      %li
        %a.social-icon{:href => "mailto:someone@yoursite.com"}
          %i.fa.fa-envelope
